.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  min-height: 100vh;
}

.image {
    width: 100%;
    max-width: 300px;
}

.image_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem;
    gap: 3rem;
    flex-wrap: wrap;
}