.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    gap: 3rem;
}

.corpus_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 3rem;
}

.corpus {
    font-size: 25px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    height: 150px;
    background: rgba(121, 121, 121, 0.3);
    border-radius: 35px;
    cursor: pointer;
}